h2, h3{
    color: black;
}

ion-toolbar{
    padding: 15px;
}

ion-icon{
    margin-top: 15%;
}

ion-title{
    margin-top: 17%;
}

h6{
    text-align: center;
    font-size: Tahoma;
    color: gray;
}



