
h2{
    text-align: center;
    font-weight:medium;
    color:black
}

.app-description{
    text-align: justify;
    font-family: Tahoma;
    margin: 10px;
}

ion-alert{
    font-family: Tahoma;
}

ion-avatar{
    width: 90px;
    height: 90px;
    margin-left: 25%;
}

p{
    font-size:medium;
}

ion-toolbar{
    padding: 15px;
}

ion-icon{
    margin-top: 15%;
}

ion-title{
    margin-top: 17%;
}

h6{
    text-align: center;
    font-size: Tahoma;
    color: gray;
}


