<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning">About us</ion-title>
    <ion-icon
      name="chevron-back-outline"
      size="large"
      routerLink="/home"
      slot="start"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/thoughts-logo-removebg-preview.png"></ion-img>
    <h2>About Us</h2>
    <ion-card-content>
      <div class="app-description">
        <p>
          "Thoughts" is an innovative mobile application that serves as a
          virtual platform for users to freely express their thoughts and
          emotions. Similar to a digital freedom wall, the app allows
          individuals to share their feelings, ideas, and reflections
          anonymously. Whether it's joy, contemplation, inspiration, or a need
          for support, "Thoughts" provides a safe and judgment-free space for
          users to articulate their sentiments without the constraints of
          identity.
        </p>
        <p>
          With a user-friendly interface, "Thoughts" encourages open
          communication and the exchange of perspectives. Users can post their
          thoughts, read others' contributions, and engage in a supportive
          community that values genuine expression. The app aims to foster a
          sense of connection among users by embracing the diversity of human
          emotions and experiences.
        </p>
        <p>
          "Thoughts" goes beyond traditional social media by focusing on
          authentic self-expression, creating a space where users can unburden
          their minds, find common ground with others, and contribute to a
          collective tapestry of thoughts. Join "Thoughts" to embark on a
          journey of self-discovery, empathy, and shared humanity.
        </p>
      </div>
    </ion-card-content>

    <h2>Mission</h2>
    <ion-card-content>
      <div class="app-description">
        <p>
          We believe in the power of expression, fostering a digital space where
          voices resonate freely. Our mission is to cultivate a community-driven
          platform that transcends boundaries, empowers individuals, and
          celebrates the diversity of thoughts.
        </p>
      </div>
    </ion-card-content>

    <h2>Developers</h2>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item id="nj">
          <ion-avatar slot="start">
            <img src="../../assets/njIMG.jpg" alt="img" />
          </ion-avatar>
          <ion-label>ENJAY</ion-label>
          <ion-alert
            trigger="nj"
            header="Nelson Jay Veneracion"
            subHeader="enjayveneracion@gmail.com / +63 9202917548"
            message="Passionate app developer with expertise in both backend architecture and frontend development. I specialize in crafting user-friendly applications that seamlessly blend functionality with aesthetics."
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-item>

        <ion-item id="eman">
          <ion-avatar slot="start">
            <img alt="eman-photo" src="../../assets/emanIMG.jpg" />
          </ion-avatar>
          <ion-label>EMAN</ion-label>
          <ion-alert
            trigger="eman"
            header="Mark Emmanuel Dela Cruz"
            subHeader="d2016209@gmail.com / +63 9755135017"
            message="As app developers, we are architects of innovation, crafting digital experiences that seamlessly integrate creativity and functionality. Our passion lies in transforming ideas into user-centric applications, driving positive change through technology."
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-item>

        <ion-item id="thad">
          <ion-avatar slot="start">
            <img alt="thad-photo" src="../../assets/thadIMG.jpg" />
          </ion-avatar>
          <ion-label>THAD</ion-label>
          <ion-alert
            trigger="thad"
            header="Thaddeus Vinarao"
            subHeader="tvcuteko@gmail.com / +63 9984190181"
            message="Seasoned front-end developer with a keen eye for design, specializing in crafting visually appealing and user-friendly interfaces that enhance the overall user experience."
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-item>

        <ion-item id="drix">
          <ion-avatar slot="start">
            <img alt="drix-photo" src="../../assets/drixIMG.jpg" />
          </ion-avatar>
          <ion-label>DRIX</ion-label>
          <ion-alert
            trigger="drix"
            header="Handrix Eroll Castro"
            subHeader="drixxxy9@gmail.com / +63 9059404054"
            message="Detail-oriented mobile app developer with a focus on creating seamless user experiences, leveraging expertise in both iOS and Android platforms to deliver high-quality and intuitive applications."
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-item>

        <ion-item id="sy">
          <ion-avatar slot="start">
            <img alt="sy-photo" src="../../assets/symondIMG.jpg" />
          </ion-avatar>
          <ion-label>SYY</ion-label>
          <ion-alert
            trigger="sy"
            header="Symond Perolino"
            subHeader="ninjasymond.09@gmail.com / +63 9456713397"
            message="Results-oriented software architect with a proven track record of designing and implementing scalable and maintainable architectures, optimizing system performance for enhanced efficiency and reliability."
            [buttons]="alertButtons"
          ></ion-alert>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <h6>Copyright © 2023 BSIT-3A</h6>
</ion-footer>
