<ion-content>
  <div class="logo">
    <ion-img src="../../assets/thoughts-logo-removebg-preview.png"></ion-img>
  </div>

  <div>
    <ion-text>
      <h1>Thoughts</h1>
    </ion-text>
    <ion-text>
      <h6>Freedom wall app, where your thoughts soar!</h6>
    </ion-text>
  </div>

  <div class="login-input">
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-icon
            name="person-circle-outline"
            slot="start"
            color="dark"
            size="large"
          ></ion-icon>
          <ion-input
            [(ngModel)]="username"
            name="username"
            type="text"
            label="Username"
            labelPlacement="floating"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon
            name="key-outline"
            slot="start"
            color="dark"
            size="large"
          ></ion-icon>
          <ion-input
            [(ngModel)]="password"
            name="password"
            type="password"
            label="Password"
            labelPlacement="floating"
            required
          ></ion-input>
        </ion-item>
        <h6 class="forgot-pass" routerLink="/forgot-password">
          Forgot password?
        </h6>
      </ion-list>

      <div class="login-button">
        <ion-button color="warning" fill="solid" (click)="login()" shape="round"
          >Login</ion-button
        >
      </div>

      <div class="signup-link">
        <p>Don't have an account? <a routerLink="/signup">Signup</a></p>
      </div>
    </ion-card>
  </div>
</ion-content>
