.menu-socials {
    margin-bottom: 20%;
    margin-top: 20%;
    
}

.menu-socials>h1{
    text-align: center;
}

.menu-list>h1{
    text-align: center;
}

.menu-list {
    margin-top: 20%;
}

.menu-header{
    margin-top: 10%;
    margin-left: 5%;
    
}

h4{
    font-family: Tahoma;
    font-size: larger;
}

.version{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
   
}



