<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning">Privacy Policy</ion-title>
    <ion-icon
      name="chevron-back-outline"
      size="large"
      routerLink="/home"
      slot="start"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2>Privacy Policy</h2>
    <ion-card-subtitle class="ion-margin" color="dark"
      >Last Updated: December 12, 2023</ion-card-subtitle
    >

    <ion-card-content>
      <div>
        <ion-text>
          <h3>1. Information We Collect:</h3>
        </ion-text>
        <br />
        <ion-text>
          <p>
            <span>a. Personal Information:</span> When you create an account, we
            may collect personal information such as your name, email address,
            and profile picture.
          </p>
          <p>
            <span>b. User-Generated Content:</span> Content you post on the app,
            including thoughts, comments, and other contributions, may be
            collected and stored.
          </p>
          <p>
            <span>c. Automatically Collected Information:</span> We may collect
            information about your device, IP address, and usage patterns
            through cookies and similar technologies.
          </p>
        </ion-text>
      </div>
      <br />
      <div>
        <ion-text>
          <h3>2. How We Use Your Information:</h3>
        </ion-text>

        <ion-text>
          <p>
            <span> a. Providing Services:</span> We use your information to
            provide and enhance the functionality of the App, including
            personalized content and features.
          </p>
          <p>
            <span> b. Communication: </span>We may use your email address to
            send important updates, announcements, and information related to
            your account.
          </p>
          <p>
            <span>c. Improving User Experience:</span> Analyzing user
            interactions helps us improve the App's usability and tailor it to
            user preferences.
          </p>
        </ion-text>
      </div>
      <br />
      <div>
        <ion-text>
          <h3>3. Sharing of Information:</h3>
        </ion-text>

        <ion-text>
          <p>
            <span> a. Public Content:</span> Content you post on the App,
            including thoughts and comments, is publicly visible.
          </p>
          <p>
            <span> b. Service Providers:</span> We may share information with
            third-party service providers to help us deliver and improve our
            services.
          </p>
        </ion-text>
      </div>
      <br />
      <div>
        <ion-text>
          <h3>4. Data Security:</h3>
          <p>
            We implement reasonable security measures to protect your
            information against unauthorized access, disclosure, or
            modification.
          </p>
        </ion-text>
        <br />
        <ion-text>
          <h3>5. Your Choices:</h3>
          <p>
            You can control the information you share by adjusting your account
            settings and privacy preferences.
          </p>
        </ion-text>
        <br />
        <ion-text>
          <h3>6. Children's Privacy:</h3>
          <p>
            The App is not intended for individuals under the age of 13. We do
            not knowingly collect personal information from children.
          </p>
        </ion-text>
        <br />
        <ion-text>
          <h3>7. Changes to this Privacy Policy:</h3>
          <p>
            We may update this Privacy Policy to reflect changes in our
            practices. Check the "Last Updated" date at the top of the policy
            for the latest version.
          </p>
        </ion-text>
        <br />
        <ion-text>
          <h3>8. Contact Us:</h3>
          <p>
            If you have any questions or concerns about this Privacy Policy,
            please contact us at +63 9202917548.
          </p>
        </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <h6>Copyright © 2023 BSIT-3A</h6>
</ion-footer>
