<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning">News</ion-title>
    <ion-icon
      name="chevron-back-outline"
      size="large"
      routerLink="/home"
      slot="start"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/thoughts-img-removebg-preview (3).png"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card-title>Thoughts News: Stay Connected!</ion-card-title>
          </ion-col>
          <ion-col size="2"
            ><ion-icon name="volume-high-outline" size="large"></ion-icon
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <span> Hello Thoughts Community! </span><br /><br />We hope this message
      finds you well. We wanted to take a moment to express our gratitude for
      your continued support and enthusiasm. While there's no update just yet,
      we're actively working behind the scenes to enhance your Thoughts
      experience. Our team is dedicated to bringing you exciting features and
      improvements in the near future.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-text>
        <h3>What's Coming:</h3>
        <p>
          1. This app can be use online, the user will interact with another
          user all over the world.
        </p>
        <p>
          2. New features (Updating profile with pictures, Sign in with Google
          Account).
        </p>
        <p>3. UI improvements.</p>
        <p>4. Messages service is available.</p>
        <p>5. Every post will now have reaction, comments, and share button.</p>
        <p>6. The user can now upload images.</p>
        <p>7. Many services will be added.</p>
        <p>8. Dark mode is available.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-text>
        <h3>Get Involved:</h3>
        <p>
          Share your feedback! We love hearing from you. Let us know what you'd
          like to see in the next update or any suggestions you might have. You
          can send your inquiries and feedback here at gmail account
          <span
            ><a
              href="https://mail.google.com/mail/u/0/?hl=en&tab=wm#inbox?compose=new"
              >takeriissk&#64;gmail.com</a
            ></span
          >
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-text>
        <h3>Stay Tuned:</h3>
        <p>
          Follow us on discord(username:
          <a href="https://discord.com/">whyum4d</a>) for real-time updates and
          sneak peeks. As always, thank you for being part of the Thoughts
          family. We can't wait to share more with you soon! Best regards,
          Thoughts Team
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
