<ion-header>
  <ion-toolbar color="dark">
    <ion-icon
      name="chevron-back-outline"
      size="large"
      routerLink="/login"
      slot="start"
    ></ion-icon>
    <ion-title color="warning">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-text>
        <h5>Reset password</h5>
      </ion-text>

      <ion-item fill="outline" lines="none">
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          labelPlacement="floating"
          label="Type your new password: "
          required
        ></ion-input>
      </ion-item>

      <div class="update-button">
        <ion-button
          fill="solid"
          shape="round"
          (click)="reset()"
          [disabled]="!password"
          color="warning"
          >Update</ion-button
        >
      </div>

      <div>
        <p>
          Please make a note of your new password in a secure location, ensuring
          that it is easily accessible to you when needed. If you have shared
          this password with any trusted individuals, it's advisable to inform
          them of the change.
        </p>
      </div>
    </ion-card>
  </div>
</ion-content>
